* {
  font-family: Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  height: 100vh;
  background: linear-gradient(-45deg, #56125b, #0f0f10, #3d338f);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite alternate;
}

.container {
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
}
.cards {
  display: flex;
  gap: 3rem;
}
.cards img {
  width: 200px;
}

.mostrar {
  position: fixed;
  top: 0;
  display: none;
  padding: 0 4rem;
  place-items: center;
  height: 100%;
  backdrop-filter: blur(10px);
  width: 100vw;
}
.mostrar img {
  width: 400px;
  height: 600px;
}

.mostrar-text {
  width: 75%;
}

.mostrar.active {
  display: grid;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (max-width: 1000px) {
  .mostrar {
    padding: 0 2rem;
  }
  .mostrar img {
    width: 300px;
    height: 400px;
  }
}

@media (max-width: 740px) {
  body {
    background-size: 1000% 900%;

    animation: gradient 4s ease infinite alternate;
  }
  .cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .cards img {
    width: 180px;
  }

  .mostrar-text {
    width: 100%;
  }

  /* @keyframes gradient {
    0% {
      background-position: 0% 100%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 100%;
    }
  } */
}

@media (max-width: 400px) {
  .cards {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  .cards img {
    width: 150px;
  }

  .mostrar img {
    width: 250px;
    height: 400px;
  }
}
